field: c122203f-1063-4864-adb3-4e9a764d3be1 # Album Tracklist
fieldLayouts:
  3c7da260-96cb-49d3-b297-5ba71e067767:
    tabs:
      -
        elements:
          -
            fieldUid: a3fce604-90bf-4998-a7e8-90118753f374 # Song
            instructions: null
            label: null
            required: false
            tip: null
            type: craft\fieldlayoutelements\CustomField
            uid: b6a73470-84b8-4061-b97b-9bf86d65120b
            warning: null
            width: 50
          -
            fieldUid: c1ad5669-dd38-4310-89fe-97bd2591aa05 # Title Variant
            instructions: null
            label: null
            required: false
            tip: null
            type: craft\fieldlayoutelements\CustomField
            uid: 393a58dc-638d-443c-8193-94d6ef1aced8
            warning: null
            width: 25
          -
            fieldUid: aca92d9b-184b-4aa0-bac1-2d03c2afd588 # Audio File
            instructions: null
            label: null
            required: false
            tip: null
            type: craft\fieldlayoutelements\CustomField
            uid: f4b12e62-ffb1-483a-b4f9-865b8eb24b48
            warning: null
            width: 25
        name: Content
        uid: 9df7392c-5df8-45b8-a58d-9eb9c1a30cff
fields:
  a3fce604-90bf-4998-a7e8-90118753f374: # Song
    columnSuffix: null
    contentColumnType: string
    fieldGroup: null
    handle: song
    instructions: null
    name: Song
    searchable: false
    settings:
      allowSelfRelations: false
      localizeRelations: false
      maxRelations: 1
      minRelations: null
      selectionCondition:
        __assoc__:
          -
            - elementType
            - craft\elements\Entry
          -
            - fieldContext
            - global
          -
            - class
            - craft\elements\conditions\entries\EntryCondition
      selectionLabel: 'Select Song'
      showSiteMenu: true
      source: null
      sources:
        - 'section:9d53bdc7-ff3a-40e4-b9ed-3f179981fdf7' # Songs
      targetSiteId: null
      validateRelatedElements: false
      viewMode: null
    translationKeyFormat: null
    translationMethod: site
    type: craft\fields\Entries
  aca92d9b-184b-4aa0-bac1-2d03c2afd588: # Audio File
    columnSuffix: null
    contentColumnType: string
    fieldGroup: null
    handle: audioFile
    instructions: 320kbps
    name: 'Audio File'
    searchable: false
    settings:
      allowSelfRelations: false
      allowSubfolders: false
      allowUploads: true
      allowedKinds:
        - audio
      defaultUploadLocationSource: 'volume:2173db2f-6479-4618-93b6-7268d73a8c6a' # Files
      defaultUploadLocationSubpath: null
      localizeRelations: false
      maxRelations: 1
      minRelations: null
      previewMode: full
      restrictFiles: true
      restrictLocation: true
      restrictedDefaultUploadSubpath: null
      restrictedLocationSource: 'volume:2173db2f-6479-4618-93b6-7268d73a8c6a' # Files
      restrictedLocationSubpath: 'albums/{owner.slug}'
      selectionCondition:
        __assoc__:
          -
            - elementType
            - craft\elements\Asset
          -
            - fieldContext
            - global
          -
            - class
            - craft\elements\conditions\assets\AssetCondition
      selectionLabel: 'Add Audio File'
      showSiteMenu: true
      showUnpermittedFiles: false
      showUnpermittedVolumes: false
      source: null
      sources: '*'
      targetSiteId: null
      validateRelatedElements: false
      viewMode: list
    translationKeyFormat: null
    translationMethod: site
    type: craft\fields\Assets
  c1ad5669-dd38-4310-89fe-97bd2591aa05: # Title Variant
    columnSuffix: aqckzjod
    contentColumnType: text
    fieldGroup: null
    handle: titleVariant
    instructions: 'ex: (reprise), (instrumental), etc.'
    name: 'Title Variant'
    searchable: false
    settings:
      byteLimit: null
      charLimit: null
      code: false
      columnType: null
      initialRows: 4
      multiline: false
      placeholder: null
      uiMode: normal
    translationKeyFormat: null
    translationMethod: none
    type: craft\fields\PlainText
handle: song
name: Song
sortOrder: 1
